body {
    font-family: "Arial";
}

.common_button {
    margin: 0.5rem;
    padding: 0.5rem;
    border: 1px solid lightgrey !important;
    background-color: white;
}
.common_button:hover {
    transition: all .3s;
    color: white;
    background-color: lightgray;
}
.common_button:active {
    background-color: #027ef9;
}