.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 2rem 1rem;
    background-color: #f8f9fa;
}
.sidebar_item {
    padding: 0.6rem !important;
    text-align: left !important;
    font-size: 0.9rem !important;
    border: none !important;
    background-color: #f8f9fa !important;
    border-left: 3px solid #f8f9fa !important;
    border-top: 1px solid #d6d6d6 !important;
    border-bottom: 1px solid #d6d6d6 !important;
    display: flex !important;
    align-items: left;
    justify-content: left;
}
.sidebar_item:hover {
    border: 1px;
    transition: all .3s;
    color: rgb(0, 254, 233);
}
.sidebar_item_selected {
    color:rgb(0, 88, 117) !important;
    font-weight: bold !important;
    font-size: 0.9rem !important;
    border-left: 3px solid #008cff !important;
    border-bottom: 1px solid #027ef9 !important;
    background-color: white !important;
}
